*.a
*.bundle
*.gem
*.o
*.rbc
*.so
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
gemfiles/**/*.lock
lib/bundler/man
mkmf.log
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
